<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Recipe web app</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="{{ cssFilePath }}">
    <link rel="stylesheet" href="{{ cssFilePathCustom }}">
    <link rel='manifest' href='/manifest.json'>
    {{!-- <link rel="stylesheet" href="/dist/custom-min.css">  --}}
</head>
{{> head }}
<body class="{{template}} uk-padding uk-background-muted">
    <div class="container">
        {{{ body }}}
    </div>
    <script src="{{ jsFilepath }}"></script>
    <script src="/dist/main.js"></script>
</body>
{{> footer }}

</html>